body {
  margin: 0;
  padding: 0;
}

section#blog {
  background-image: url(../img/bgImg.jpg);
  height: 50vh;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative; /* Relative positioning for child elements */
  text-align: center;
}

.image_1 {
  width: 1208px;
  height: 679px;
  left: 0; /* Center the image horizontally */
  right: 0; /* Center the image horizontally */
  margin: auto; /* Center the image horizontally */
}

.text-overlay {
  position: relative;
  /* bottom: 220px; */
  z-index: 999;
  margin-top: -27rem;
  z-index: 1; /* Place text above the image */
}

.text-overlay p {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}
.blog-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  /* margin-top: 200px; */
  color: #070707;
}
@media screen and (min-width: 901px) {
  #blog.section {
    padding: 6rem 8%;
    margin-top: 7rem;
  }
}
