body {
  margin: 0;
  padding: 0;
}

.blogContainer-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

section#blog {
  background-image: url(../img/Apurva-Websit-Design.png);
  height: 35rem;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer-icons strong {
  font-size: 30px;
  /* Increase the font size of "Share on" */
  margin-right: 10px;
  /* Add space between "Share on" and icons */
}

.social-icon-container {
  margin: 0 10px;
  /* Add space between the icons */
}

.image_1 {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  margin: auto;

}

.text-overlay {
  position: relative;
  margin-top: -35rem;

}

.text-overlay p {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 300;
  line-height: 80px;
  letter-spacing: 0em;
}

.blog-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px;
  margin-top: 800px;
  color: #000000;

}

.bl {
  color: white;
}

.bl:hover {
  color: #9fffac;
}

.blog-content p {
  margin-bottom: 20px;
  color: #000000;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
}

p.Centered {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;

}

.image_rectangle {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.underline {
  text-decoration: underline;
}

a.underline.blue {
  color: #0E76A8;
}

@media screen and (min-width: 1024px) {
  #blog.section {
    padding: 6rem 8%;
    margin-top: 7rem;
  }
}

@media (max-width: 768px) {
  #blog.section {
    padding: 6rem 8%;
    margin-top: 4rem;
  }

  section#blog {
    height: 20rem;
  }

  .text-overlay {
    position: relative;
    margin-top: -23rem;
  }

  .blog-content p {
    margin-bottom: 10px;
    text-align: left;
  }

  .blog-content {
    max-width: 708px;
    margin-top: 450px;
  }

  .image_rectangle {
    width: 50%;
    margin: auto;

  }

  .text-overlay p {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
  }

  .blog-content p {
    margin-bottom: 20px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
  }

  p.Centered {
    font-size: 18px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;

  }
}

@media(max-width: 425px) {
  section#blog {
    height: 25vh;
  }

  .text-overlay {
    margin-top: -16rem;
  }


  .blog-content {
    margin-top: 305px;
    padding: 14px;
  }

  .blog-content p {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;
  }

  p.Centered {
    font-size: 12px;
    font-weight: 700;
    line-height: 10px;

  }

  .text-overlay p {
    font-family: Poppins;
    font-size: 7px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
  }

  .image_1 {

    margin-top: -3rem;
  }

  .footer-icons strong {
    font-size: 9px;
    /* Increase the font size of "Share on" */
    margin-right: 5px;
    /* Add space between "Share on" and icons */
  }

  .social-icon-container {
    margin: 0 5px;
    /* Add space between the icons */
  }
}

@media(max-width: 375px) {
  .blog-content {
    margin-top: 250px;
    padding: 14px;
  }

}