/* Common styles for both desktop and mobile */
.footer {
  padding: 4%;
}

.footer p {
  margin: 0;
}

.container-footer {
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.address-container {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.app-promotion {
  text-align: right;
  margin-right: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.center {
  text-align: center;
}

.links {
  margin-inline: center;
}

.footer-icons {
  list-style: none;
  padding: 0;
}

.footer-icons li {
  display: inline-block;
  margin: 0 10px;
}

.footer-icons a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
}

.footer-icons .twitter-container,
.footer-icons .social-icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.footer-icons .twitter-icon {
  color: #fff;
  font-size: 20px;
  background-color: #1da1f2;
}

.footer-icons .linkedin-icon {
  color: #fff;
  font-size: 20px;
  background-color: #0077b5;
}
.footer-icons .linkedin-icon,
.footer-icons .twitter-icon {
  width: 55px;
  height: 55px;
  top: 2170px; /* Adjust the top position as needed */
  left: 663px; /* Adjust the left position as needed */
  font-size: 32px; /* Increase the font size as needed */
}
.write p{
  margin-left: 20rem;
  color: #d4cece;
}

.email {
  display: flex;
  justify-content: right;
  
}
.app-promotion ul {
  list-style: none;
  padding: 0;
}

.app-promotion li {
  margin-bottom: 5px;
}

.app-promotion a {
  color: white;
  text-decoration: none;
  margin-right: 3px; 
  font-weight: 500;
}

.copyrights {
  color: #777;
  font-size: 14px;
}

.footer .footer-icons {
  text-align: center;
  margin-top: 20px;
}

.footer .app-promotion {
  text-align: -webkit-auto;
}
.footer .app-promotion ul{
  display: flex;
  justify-content: right;
}


.with-background {
  padding: 6rem 8% 0rem;
  margin-top: auto;
  background-image: url(../img/footerBackground.png);
  background-size: cover;
  color: white;
  width: 100%;
}
.white a{
  color: white;
}
.with-background .alt-color {
  color: white; 
}

.with-background .white strong {
  font-weight: bold; 
}

 .underline {
  text-decoration: underline; 
}

.alt-back {
  color: #d4cece;
}
.copy{
margin-top: -2rem;
}


@media screen and (max-width: 768px) {
  .with-background {
    padding: 1rem 3% 0rem;
  }
}

@media (max-width: 735px) {
  /* Hide desktop footer */
 
  .desktop-footer {
    display: none;
  }
 
  .footer p,
  .footer strong,
  .footer li {

    font-size: 14px; 
  }

  .footer-icons .linkedin-icon,
  .footer-icons .twitter-icon {
    width: 29px;
    height: 28px;
    top: 2885px; 
    left: 187px; 
    font-size: 16px; 
  }
}
@media (max-width: 575px) {

  .address-container {
    text-align: center;
  }
  .footer .app-promotion {
    text-align: center;
    margin-top: 10px;
  }
  .footer .app-promotion ul{
    display: flex;
    justify-content: center;
  }
}

/* Media query for screens larger than 768px (mobile) */
@media (min-width: 736px) {
  /* Hide mobile footer */
  .mobile-footer {
    display: none;
  }


}
@media(min-width: 768px)
{
  #dis {
    display: none;
  }
}

@media(max-width: 560px)
{
  #hide {
    display: none;
  }
}
